<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>GreenFair</title>
    <link rel="stylesheet" href="../css/profile.css">
    <!--    Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
        type='../text/css'>

    <!--Fontawesom-->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!--Animated CSS-->
    <link rel="stylesheet" type="../text/css" href="../css/animate.min.css">

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--Bootstrap Carousel-->
    <link type="../text/css" rel="stylesheet" href="../css/carousel.css" />

    <link rel="stylesheet" href="../css/isotope/style.css">

    <!--Main Stylesheet-->
    <link href="../css/style.css" rel="stylesheet">
    <!--Responsive Framework-->
    <link href="../css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    <link href="../css/font-my.css" rel="stylesheet">
    <script src="../js/includeHTML.js"></script>


</head>

<body>
    <nav class="include" include-html="./nav.html"></nav>
    <slider class="include" include-html="./slider.html"></slider>
    <div class="wrapper">
        <ul class="team">
            <li class="team-item">
                <div class="profile profile_red">
                    <img src="../img/pink.png">
                    <div class="profile-contents">
                        <h2>Lee Dong Jae <span> 팀장</span></h2>
                        <p> 돌리와 도트를 좋아해</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_beige">
                    <img src="../img/pink.png">
                    <div class="profile-contents">
                        <h2>Jung Yu Ra <span>부팀장</span></h2>
                        <p>술 절대 안취해</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_green">
                    <img src="../img/pink.png">
                    <div class="profile-contents">
                        <h2>Kim Chae Lin <span>팀원</span></h2>
                        <p>점심 먹으러 올거야</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_pink">
                    <img src="../img/pink.png">
                    <div class="profile-contents">
                        <h2>Bae Jin Soo <span>팀원</span></h2>
                        <p>국밥부장관</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer class="include" include-html="./footer.html"></footer>

    <script src="../js/jquery-1.12.3.min.js"></script>

    <!--Back To Top-->
    <script src="../js/backtotop.js"></script>

    <!--WOW With Animation-->
    <script src="../js/wow.min.js"></script>
    <!--WOW Activated-->
    <script>
        new WOW().init();
    </script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Custom JavaScript-->
    <script src="../js/main.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <style>
        body {
            font-family: 'Crimson Pro', serif;
        }
    </style>
</body>
<script>
    includeHTML();
    function isLogin() {
        if (!localStorage.getItem('token')) {
            window.location.href = "login.html";
        }
        console.log(localStorage.getItem('token'))
    }
    isLogin();

    function logout() {
        localStorage.removeItem('token');
        localStorage.removeItem('user_pk')
        window.location.href = "login.html";
        // console.log(localStorage.getItem('token'))
    }

    $(function () {
        let loaded = false;
        $('body').on('DOMNodeInserted', '#logout', function () {
            if (!loaded) {
                loaded = true;
                logout();
            }
        })
    });

</script>

</html>