 <!--Start of slider section-->
        <section id="slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="slider_overlay">
                            <img class="mySlides" src="/img/slider_img01.jpg" alt="..." style="width: 100%">
                            <div class="carousel-caption">
                                <div class="slider_text">
                                    <img src="../img/mainlogo.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of item With Active-->
                    <div class="item">
                        <div class="slider_overlay">
                            <img class="mySlides" src="/img/2222.png" alt="..." style="width: 100%">
                            <div class="carousel-caption">
                                <div class="slider_text">
                                    <img src="../img/mainlogo.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Item-->
                    <div class="item">
                        <div class="slider_overlay">
                            <img class="mySlides" src="/img/slider_img03.jpg" alt="..." style="width: 100%">
                            <div class="carousel-caption">
                                <div class="slider_text">
                                    <img src="../img/mainlogo.png" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of item-->
                </div>
                <!--End of Carousel Inner-->
            </div>
        </section>
        <!--end of slider section-->