<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>GreenFair</title>

  <!--    Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet"
    type="../text/css" />

  <!--Fontawesom-->
  <link rel="stylesheet" href="../css/font-awesome.min.css" />

  <!--Animated CSS-->
  <link rel="stylesheet" type="../text/css" href="../css/animate.min.css" />

  <!-- Bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <!--Bootstrap Carousel-->
  <link type="../text/css" rel="stylesheet" href="../css/carousel.css" />

  <link rel="stylesheet" href="../css/isotope/style.css" />

  <!--Main Stylesheet-->
  <link href="../css/style.css" rel="stylesheet" />
  <!--Responsive Framework-->
  <link href="../css/responsive.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="../js/jquery-1.12.3.min.js"></script>
  <script src="../js/includeHTML.js"></script>

  <!-- localStorage Test -->
  <script>
    var output = localStorage.getItem("id");

    var arr = JSON.parse(output);

    console.log(arr); // [1,2,3,4,5]
  </script>

  <style>
    .recipe-card {
      border-radius: 6px;
      width: 29%;
      height: 30%;
      margin: 0 20px 20px 10px;
      float: left;
      border: 3px solid #ffd518;

    }

    .btn-storage {
      border: 1px solid #ffd518;
      background-color: #ffd518;
      display: block;
      overflow: hidden;
      width: 50%;
      height: 30px;
      font-size: 13px;
      float: left;
      position: relative;
      bottom: 0px;

    }
  </style>


</head>

<body>
  <script>
    {
      var idxhr = new XMLHttpRequest();
      idxhr.open("GET", "../data/ingredient.json")
      idxhr.send();
      idxhr.onreadystatechange = function () {
        if (idxhr.readyState !== XMLHttpRequest.DONE) return;
        if (idxhr.status === 200) {
          localStorage.setItem('ingredient', idxhr.responseText);
        }
      }
    }
    function getIngredientName(ingId) {
      let myIngreName = "";
      let ing = localStorage.getItem('ingredient');
      
      let idObject = JSON.parse(ing);
          idObject.forEach((idObject) => {
            if (idObject.id == ingId) {
              console.log("hi",ingId);
              myIngreName = idObject.name;
            }
          });
      return myIngreName;
    }
  </script>


  <script>
    // storage recipe 뿌려주기 
    var Storage = function () {
      var xhr = new XMLHttpRequest();
      var url = 'http:///18.212.120.246:8000/user-detail/';
      xhr.open('GET', url);
      xhr.setRequestHeader('Authorization', 'jwt ' + localStorage.getItem('token'));

      xhr.send();
      var myStockArr= new Array;
      var recipeArr=new Array;
      var orderIngreArr=new Array;

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            let loadedJSON = JSON.parse(xhr.responseText);
            var wishRecipeList = [];
            for (var i = 0; i < loadedJSON.wish_recipes.length; i++) {
              wishRecipeList.push(loadedJSON.wish_recipes[i]);
              var arr = loadedJSON.wish_recipes[i].ingredient_ids.split(",");
              myStockArr=$.merge(myStockArr,arr);
            }
            myStockArr=myStockArr.filter(Number);
            myStockArr=Array.from(new Set(myStockArr));
            console.log("load", myStockArr);

            var myStockNameArr=new Array;

            var a;
            for(a=0;a<myStockArr.length;a++){;
              myStockNameArr.push(getIngredientName(myStockArr[a]));
            };
            console.log("c",myStockNameArr);

            //OrderList
            let newContent = '';
            myStockNameArr.forEach((myStockNameArr) => {
              console.log("dfjklj",myStockNameArr);
              newContent += `<div class="orderlist_board">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                          <a href="#" onclick="order_ingredient(${myStockNameArr})"><h4>${myStockNameArr}</h4></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <a href="#" onclick="order_ingredient('${myStockNameArr}')">주문하기</a>
                        </div>
                      </div>`;
            });
            document.getElementById("orderlist").innerHTML = newContent;

            //recipe Stock
            $.each(wishRecipeList, function (index, recipeNumber) {
              var xhr2 = new XMLHttpRequest();
              var url = 'https://save-your-ingredient.s3.amazonaws.com/recipes/' + recipeNumber.reci_id + '.json';
              xhr2.open('GET', url);
              xhr2.send();

              xhr2.onreadystatechange = function () {
                if (xhr2.readyState === XMLHttpRequest.DONE) {
                  if (xhr2.status === 200) {
                    let loadedJSON = JSON.parse(xhr2.responseText);
                    var html = "";
                    html +=
                      '<div> \
                        <div class="blog_news" > \
                          <div class="recipe-card" style="width:29%;" > \
                            <div class="blog_img"> \
                              <a href="detail_recipe.html?reci-id='+ recipeNumber.reci_id +'"><img src="' + loadedJSON.thumbnail + '" alt=""/></a> \
                            </div> \
                            <div class="blog_content" style="text-align: left;"> \
                                <a href="detail_recipe.html?reci-id='+ recipeNumber.reci_id +'"><h3 id="plz">' + loadedJSON.name + '</h3></a> \
                            </div> \
                            <button id="'+ recipeNumber.reci_id + '" class="btn-storage" style="border-bottom-left-radius: 6px; border-right-color: #d1d3d1;" onclick=completeBtn(this.id)>완료</button> \
                            <button id="'+ recipeNumber.reci_id + '" class="btn-storage" style="border-bottom-right-radius: 6px;" onclick=deleteBtn(this.id)>삭제</button> \
                          </div> \
                        </div> \
                      </div>';
                      

                    $('#stored_recipe').append(html);
                  }
                }
              }
            });
          } else {
            console.log("Error");
          }
        }
      }
    }
    Storage();
  </script>


  <script>
    // 레시피 완료 
    function completeBtn(that) {
      /*
      localhost:8000/experience-recipe/ (POST)
      body: reci_id = recipe id
      jwt
      */
      var data = {};
      data.reci_id = that;
      var json_data = JSON.stringify(data);
      console.log("json_data", json_data);

      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http:///18.212.120.246:8000/experience-recipe/');
      xhr.setRequestHeader('Content-type', 'application/json');
      xhr.setRequestHeader('Authorization', 'jwt ' + localStorage.getItem('token'));
      xhr.send(json_data);



      xhr.onreadystatechange = function (e) {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;

        if (xhr.status === 200) {
          $('#stored_recipe').empty();
          Storage();
        } else {
          console.log("Error!");
        }
      }
    }

    // 창고에서 삭제
    function deleteBtn(that) {
      var data = {};
      data.reci_id = that;
      var json_data = JSON.stringify(data);
      console.log("json_data", json_data);

      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", 'http:///18.212.120.246:8000/wish-recipe/');
      xhr.setRequestHeader('Content-type', 'application/json');
      xhr.setRequestHeader('Authorization', 'jwt ' + localStorage.getItem('token'));
      xhr.send(json_data);



      xhr.onreadystatechange = function (e) {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;

        if (xhr.status === 200) {
          console.log("삭제?");
          $('#stored_recipe').empty();
          Storage();
        } else {
          console.log("Error!");
        }
      }
    }
  </script>


  <nav class="include" include-html="./nav.html"></nav>

  <!-- storage.html 페이지 -->
  <section id="blog" style="padding: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="latest_blog text-left" style="margin-bottom: 10px;">
            <img src="../img/recipe_chango.png">
          </div>
        </div>

        <div class="col-md-4">
          <div class="latest_blog text-left">
            <img src="../img/need.png">
          </div>
        </div>
      </div>
      <!--End of row-->
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <ul id="stored_recipe">
          </ul>
        </div>
        <!-- 재료 주문 리스트 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="orderlist"></div>
      </div>
      <!--End of container-->
  </section>


  <script src="../js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="../js/list.js"></script>
  <script src="../js/includeHTML.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script>includeHTML();</script>
  <script>
    includeHTML();
    function isLogin() {
        if (!localStorage.getItem('token')) {
            window.location.href = "login.html";
        }
        console.log(localStorage.getItem('token'))
    }
    isLogin();

    function logout() {
        localStorage.removeItem('token');
        localStorage.removeItem('user_pk')
        window.location.href = "login.html";
        // console.log(localStorage.getItem('token'))
    }

    $(function () {
        let loaded = false;
        $('body').on('DOMNodeInserted', '#logout', function () {
            if (!loaded) {
                loaded = true;
                logout();
            }
        })
    });

</script>

  
  <!--삭제-->
  <script type="text/javascript">
    $("#delbtn").click(function () {
      $("div").remove("#rm");
    });
  </script>

  <script>
    $("#amount option:selected").val();
  </script>

  <!--추가-->
  <script>
    $("#addbtn").click(function (event) {
      event.preventDefault();
      this.blur();

      $.popup({
        url: "./modal1.html",
        close: function (result) {
          console.log(result);
        },
      });
    });
  </script>


  <script>
    // Order Stock
    function order_ingredient(that) {
      console.log("mw!!!!!!!!",that);
      var stockName;
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'http://localhost:5502/data/ingredient_euckr_v2.json');
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;

        if (xhr.status === 200) {
          var responseObject = JSON.parse(xhr.responseText);
          stockName = responseObject[that];
          var url = 'https://www.kurly.com/shop/goods/goods_search.php?searched=Y&sword=' + stockName;

          var ret = window.open(url);
        } else {
          console.log("Error!");
        }
      }

    }
  </script>
</body>

</html>